@import '../components/bourbon/app/assets/stylesheets/bourbon'
@import '../components/neat/app/assets/stylesheets/neat'
@import '../components/bitters/app/assets/stylesheets/base'

@import 'components/variables'
@import 'components/component-header'

@import 'components/component-product-box'
@import 'components/component-home-product-box'

@import 'components/buttons'


body
	display: table
	margin: 0

.main
	+span-columns(10 of 12)
	margin-right: auto
	margin-left: auto
	float: none


.parent
	+align-items(stretch)
	+display(flex)
	+flex-direction(row)
	+justify-content(flex-start)






